.git
__pycache__
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
data/
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/
**/venv/
**/dist/
**/build/
**/*.tif
**/*.tiff
**/*.h5
**/*.hdf5
**/*.npy
**/*.npz
